<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Movie Categorization</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/static/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/assets/css/grayscale.min.css" rel="stylesheet">

</head>

<body id="page-top" style="background: 100%">

  <!-- Signup Section -->
  <section id="signup" class="signup-section">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto text-center">

          <h2 class="text-white mb-5">Enter the movie synopsis!</h2>

          <form class="form-inline d-flex" action="" method="post">
            {% csrf_token %}
            <textarea name="input_text" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" style="height: 300px"
              placeholder="Enter the movie synopsis here..."></textarea>
            <button type="submit" class="btn btn-primary">Get Genre</button>
          </form>

        </div>
      </div>
    </div>
  </section>

  {% if cal %}
  <section class="contact-section bg-black">
    <div class="container">

      <div class="row">

        <h4 class="text-white col-md-12 text-center">Movie Genre :</h4>

        <div class="col-md-12 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <h1 class="text-uppercase m-0">{{cal}}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endif %}
  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50">
    <div class="container">
      <h3><a href="/">Back to home</a></h3>
      </br>
      Copyright &copy; Del Institute of Technology 2018
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/static/assets/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/static/assets/js/grayscale.min.js"></script>

</body>

</html>