<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>One Page Wonder - Start Bootstrap Template</title>

	<!-- Bootstrap core CSS -->
	<link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom fonts for this template -->
	<link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="/static/assets/css/one-page-wonder.min.css" rel="stylesheet">
	<link href="/static/assets/css/one-page-wonder.css" rel="stylesheet">

</head>

<body>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
		<div class="container">
			<a class="navbar-brand" href="#">Document Similarity</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">

				</ul>
			</div>
		</div>
	</nav>

	<header class="masthead text-center text-white">
		<div class="masthead-content">
			<div class="container">
				<h1 class="masthead-heading mb-0">Plagiarism Checker</h1>

				<div class="container">
					<div class="row">
						<div class="col-sm-offset-4 col-sm-12"><br><br>
							<div class="form-group">
								<form action="" method="post">
									{% csrf_token %}
									<div class="input-group">
										<input type="text" class="form-control" readonly>
										<div class="input-group-btn">
											<span class="fileUpload btn btn-success">
												<span class="upl" id="upload">Upload first file</span>
												<input type="file" class="upload up" id="up" name="input_text1" onchange="readURL(this);" />
											</span><!-- btn-orange -->
										</div><!-- btn -->
									</div><!-- group -->

								</div><!-- form-group -->

								<div class="form-group">
									<div class="input-group">
										<input type="text" class="form-control" readonly>
										<div class="input-group-btn">
											<span class="fileUpload btn btn-info">
												<span class="upl" id="upload">Upload second file</span>
												<input type="file" class="upload up" id="up" name="input_text2" onchange="readURL(this);" multiple/>
											</span><!-- btn-orange -->
										</div><!-- btn -->
									</div><!-- group -->
								</div><!-- form-group -->
								<button class="btn btn-primary btn-xl rounded-pill mt-5">Check</button>

							</form>
							<br>
							<h1>
							{% if cal %}
							{{cal}}
							{% endif %}
							</h1>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="bg-circle-1 bg-circle"></div>
		<div class="bg-circle-2 bg-circle"></div>
		<div class="bg-circle-3 bg-circle"></div>
		<div class="bg-circle-4 bg-circle"></div>
	</header>




	<!-- Bootstrap core JavaScript -->
	<script src="/static/assets/vendor/jquery/jquery.min.js"></script>
	<script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script>
		$(document).on('change','.up', function(){
			var names = [];
			var length = $(this).get(0).files.length;
			for (var i = 0; i < $(this).get(0).files.length; ++i) {
				names.push($(this).get(0).files[i].name);
			}
			    // $("input[name=file]").val(names);
			    if(length>2){
			    	var fileName = names.join(', ');
			    	$(this).closest('.form-group').find('.form-control').attr("value",length+" files selected");
			    }
			    else{
			    	$(this).closest('.form-group').find('.form-control').attr("value",names);
			    }
			});
		</script>
	</body>

	</html>
